body {
  text-align: center;
  align-items: center;
}

#App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#teams-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.team-item {
  flex: 1 1 calc(33.33% - 10px); 
  box-sizing: border-box; 
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.team-name {
  font-size: 20px;
  font-weight: bold;
}

#top-title {
  background-color: #0044cc; 
  color: #ffffff; 
  text-align: center; 
  padding: 20px; 
  margin: 0; 
  font-family: 'Arial', sans-serif; 
  font-size: 2.5rem; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  border-bottom: 5px solid #003399; 
}

.nav-button {
  background-color: #0044cc; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 1rem; 
  font-family: 'Arial', sans-serif; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  margin-right: 25px;
  margin-top: 5px;
}

.nav-button:hover {
  background-color: #003399; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05); 
}

.nav-button:active {
  background-color: #002266; 
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); 
  transform: scale(0.98); 
}